* {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5vh;
}



body {
    background: url('img/bg.svg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    max-height: 100%;
}

.jumbotron {
    border-radius: 5px;
    opacity: 0.89;
    border: 3px solid #AECCEA;
}

.forecastDisplay {
    display: none;
    z-index: 100;
    /* border: 2px solid red; */
}

.media {
    border-bottom: 3px solid #31508C;
    color: #04284E;
    border-radius: 5px;
}

.media img {
    width: 64px;
    height: 64px;
}


.values,
.icons{
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
}

.cityAlert{
    color: #04284E;
    border: 4px solid #AECCEA;
    border-radius: 5px;
}


.sticky-footer a:active, footer a:visited {
    text-decoration: none;
    color: #04284E;

}

.sticky-footer a {
    text-decoration: none;
    color: #04284E;
}

.sticky-footer a:hover {
    color: #3F9EE0;
}

@media screen and (min-width: 375px) {
    *{
        font-size: 2.6vh;
    }
}



@media screen and (min-width: 768px) {
    *{
        font-size: 3.2vh;
    }
}
