* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background: url('img/bg.svg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.jumbotron {
    border-radius: 5px;
    opacity: 0.89;
    border: 3px solid #AECCEA;
    z-index: 10;
}

.forecastDisplay {
    display: none;
    z-index: 100;
    /* border: 2px solid red; */
}

.media {
    border-bottom: 3px solid #31508C;
    color: #04284E;
}

.media img {
    width: 64px;
    height: 64px;
}

.values,
.icons{
    display: flex;
    justify-content: space-around;
    padding: 0 5px;
}

.icons {
    transform: translateX(5px);
}

footer a:active, footer a:visited {
    text-decoration: none;
    color: #04284E;

}


footer a {
    text-decoration: none;
    color: #04284E;
}

footer a:hover {
    color: #3F9EE0;
}

@media screen and (min-width:375px){

.home h1{
    font-size: 50px;
}

.home p{
    font-size: 18px ;
}

}